<head>
    <link rel="stylesheet" href="{{ url_for('static', filename='index.css') }}">
</head>
<body>
    <form action="register">

        <div class="container">
            <h1>REGISTER</h1>
            <p>To use our application you must register your team in our systems</p>
            <hr>
            <label for="teamid"><b>Team Number:</b></label>
            <input type="text" placeholder="Enter Team Number" name="TeamNumber" id="teamid" required>

            <br>
            <br>
            <button type="submit" class="registerbtn">REGISTER</button>
        </div>
    </form>
</body>
